* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header 
{
    background-color: #1a1a1a;
    padding: 10px 20px;
}

.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo 
{
    display: flex;
    align-items: center;
}

.logo img 
{
    height: 40px;
    margin-right: 10px;
}

.logo span 
{
    color: #e0e0e0;
    font-size: 20px;
    letter-spacing: 2px;
}

.search-bar 
{
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 20px;
    position: relative;
}

.search-bar input 
{
    width: 100%;
    padding: 8px 40px 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-bar button 
{
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 57%;
    transform: translateY(-50%);
    padding: 0;
    cursor: pointer;
}

.search-bar button img 
{
    height: 35px;
    width: 35px;
}

.nav-links 
{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links li 
{
    margin-left: 20px;
}

.nav-links a 
{
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover 
{
    color: #06f422;
}

.nav-links a 
{
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-links a i 
{
    margin-right: 8px; /* Space between the icon and the text */
    font-size: 18px;
}

.login
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .box
{
    position: relative;
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.login .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    background: linear-gradient(#fff,#fff,#e3e3e3);
    filter: blur(1px);
    z-index: 1;
}

.login .box::after
{
    content: '';
    position: absolute;
    top: 1;
    right: -1px;
    width: 25px;
    height: 100%;
    background:#9d9d9d;
    filter: blur(1px);
    z-index: 1;
}

.login .box .shadow
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
}

.login .box .shadow::before
{
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% + 96px);
    width: 120%;
    height: 240%;
    background: linear-gradient(rgba(0,0,0,0.075)transparent);
    transform: skew(45deg);
}

.login .box .shadow::after
{
    content: '';
    position: absolute;
    bottom: -200%;
    left: calc(100% + 80px);
    width: 100%;
    height: 200%;
    background: linear-gradient(rgba(0,0,0,0.075)transparent);
    transform: skew(45deg);
}

.cover
{
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
    height: 100px;
    background: #cfd1e1;
    z-index: 10;
}

.content
{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dbdae1,#a3aaba);
    box-shadow: 5px 5px 5px rgba(),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 10px 20px rgba(0,0,0,0.1),
    50px 50px 70px rgba(0,0,0,0.25);
    inset: 3px 3px 2px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.content .from
{
    position: relative;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-1
{
    width: 70px;
    height: 70px;
    background: #444;
    color: #fff;
    font-size: 1.75em;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.content .from h2
{
    font-size: 2em;
    color: #444;
    margin-bottom: 20px;
}

.content .from .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.content .from .inputBox input
{
    position: relative;
    width: 100%;
    padding: 10px 0 10px 25px;
    border-bottom: 3px solid #444;
    border: none;
    font-size: 1.25em;
    background: transparent;
    box-shadow: none;
    outline: none;
    color: #444;
}

.content .from .inputBox i 
{
    position: absolute;
    left: 0;
    bottom: 15px;
    font-size: 1..25em;
    color: #444;
}

.content .from .inputBox span
{
    position: absolute;
    left: 0;
    padding: 10px 0 10px 25px;
    font-size: 1.25em;
    pointer-events: none;
    color: #444;
    transition: 0.5s;
}

.content .from .inputBox input:focus ~ span,
.content .from .inputBox input:valid ~ span
{
    transform: translateY(-20px);
    font-size: 0.9em;
    background: #444;
    color: #fff;
    padding: 2px 4px;
}

.content .from .link 
{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.content .from .link a
{
    color: #444;
    text-decoration: none;
    font-size: 1.25em;
}

.content .from .inputBox input[type="submit"]
{
    background: #444;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.content .from .inputBox input[type="submit"]:hover
{
    background: #333;
}